<footer class="site-footer">
  <div class="wrapper">
    <!-- disquss -->

    <!-- disquss -->

    <!-- Google Analitics -->

    <!-- Global Site Tag (gtag.js) - Google Analytics -->

    <!-- Google Analitics -->

    <h2 class="footer-heading" align="center">
      <a href="http://jsdev.org">jsdev.org</a>
    </h2>
    <p align="center">
      Opensource project with codes on
      <a href="https://bitbucket.org/jsdev-org/jet.jsdev.org">bitbucket</a>.
    </p>
  </div>
</footer>
